<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Manage TodoLists</title>

<body>
<table>
    <th:block th:each="list : ${lists}">
        <tr>
            <td th:text="${list.getName()}"/>
            <td>
                <form method="POST" action="/deleteList">
                    <input type="hidden" name="listId" th:value="${list.getId()}">
                    <button type="submit">Delete list</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/setCase">
                    <input type="hidden" name="listId" th:value="${list.getId()}">
                    <button type="submit">Show list</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
<table>
    <tr>
        <td>
            <form method="POST" action="/addList">
                <input type="text" name="listName" autofocus>
                <button type="submit">Add list</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>